/* Credit goes to Sarah Fossheim for her Animal Crossing inspired buttons: */
/* https://codepen.io/fossheim/pen/RwPeVKG */
/* Neon sign is based on Ananya Neogi's design: */
/* https://codepen.io/ananyaneogi/pen/Bgozrz */

:root {
    --background: #E5FFB3;
    --accent: #DBF8A3;
    --accent-2: #BDE66E;
    --light: #92DE34;
    --dark: #69BC22;
    --text: #025600;
    --neon: #ffdaa9;
    --neon-glow:
        0 0 2px #ff4800, 
        0 0 6px #ff4800, 
        0 0 10px #ff4800, 
        0 0 18px #ff4800, 
        0 0 40px #ff5100;
    --neon-glow-inset:
        inset 0 0 2px #ff4800, 
        inset 0 0 6px #ff4800, 
        inset 0 0 10px #ff4800, 
        inset 0 0 18px #ff4800, 
        inset 0 0 40px #ff5100;
    --bottom-height: 160px;
    --media-query-transition: all 1s cubic-bezier(.28,-0.33,.27,1.7);
}

@font-face {
    font-family: FinkHeavy;
    src: url('fonts/FinkHeavy.ttf')  format('truetype');
}

@font-face {
    font-family: 'RodinBokutohProM';
    src: url('fonts/FOT-RodinBokutoh Pro M.otf') format('opentype');
}

@font-face {
    font-family: 'RodinBokutohProB';
    src: url('fonts/FOT-RodinBokutoh Pro B.otf') format('opentype');
}

@font-face {
    font-family: 'RodinBokutohProUB';
    src: url('fonts/FOT-RodinBokutoh Pro UB.otf') format('opentype');
}

* {
    box-sizing: border-box;
}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    background: var(--light) url('img/background.jpg') no-repeat center;
    color: var(--text);
    font-family: RodinBokutohProB, sans-serif;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    transition: all 3s;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

header > h1 {
    display: inline-block;
    transform: translateY(-20px) rotate(4deg);
    border: 3.4px solid var(--neon);
    border-radius: 15px;
    padding: 7px;
    line-height: 80%;
    font-family: FinkHeavy, sans-serif;
    font-size: 1.65em;
    text-align: center;
    box-shadow: var(--neon-glow), var(--neon-glow-inset);
    text-shadow: var(--neon-glow);
    color: var(--neon);
    text-align: center;
    margin: 0 auto;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

header > img {
    height: auto;
    width: 200px;
}
  
.menu {
    width: 80%;
    padding: 15px;
    background-color: var(--background);
    border-radius: 30px;
    margin: 0 auto 0 auto;
    box-shadow: 0 8px 6px -6px black;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "detect-btn"
        "manual-input"
        "launch-btn";
}
  
.menu button,
.menu input {
    outline: none;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 1.25em;
}

.menu button {
    font-family: RodinBokutohProUB, sans-serif;
    cursor: pointer;
    border: none;
    background-color: var(--light);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    color: var(--text);
}

#detect-btn {
    grid-area: detect-btn;
    margin-bottom: 20px;
}

#manual-input {
    font-family: RodinBokutohProB, sans-serif;
    border: 3px solid var(--dark);
    padding: 6px 0 6px 12px;
    background-color: var(--accent);
    color: var(--text);
    grid-area: manual-input;
}

#launch-btn {
    grid-area: launch-btn;
}

::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
:-ms-input-placeholder, /* Internet Explorer 10-11 */
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--accent-2);
    opacity: 1; /* Firefox*/
}
  
.menu button:hover {
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: btn-background 3s linear infinite;
}

#game-wrapper {
    display: none;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0; bottom: calc(var(--bottom-height) - 10px);
    transition: var(--media-query-transition);
}

#game-wrapper > canvas {
    display: inline-block;
    padding: 0;
}

body.game-mode {
    /* pan background up and zoom in */
    background-position: top;
    background-size: 200%;
}

body.game-mode > header,
body.game-mode > .menu {
    display: none;
}

body.game-mode > #game-wrapper {
    display: block;
}

body.game-mode #slingshot > div {
    display: block;
}

body.kk-mode {
    background: black url('img/kk-slider-background.jpg') no-repeat center;
}

.music-controls {
    background-color: var(--background);
    box-shadow: 0 50px 0 0 var(--background); /* prevents bottom of div from showing during translateY*/
    padding: 0 25px;
    width: 100%; height: var(--bottom-height);
    position: fixed;
    left: 0; bottom: 0;
    transition: var(--media-query-transition);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 136px 136px;
    justify-items: center;
    column-gap: 0;
}

.music-controls.collapsed {
    transform: translateY(200%);
}

.music-controls .btns {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
    place-items: center;
    transform: translateY(-48px);
}

.btns > button {
    border: none;
    outline: none;
    box-shadow: 0 0 0 20px var(--background);
    border-radius: 100%;
    cursor: pointer;
}

#toggle-music-btn {
    background-color: var(--light);
    padding: 35px;
}

/* Pause and play symbol within button: */
#toggle-music-btn::after {
    content: "";
	display: block;
    position: relative;
    left: 8px;
	width: 0; height: 0;
    border-color: transparent transparent transparent var(--text);
    transition: 100ms all ease;

    /* play state */
    border-style: solid;
	border-width: 35px 0 35px 66px;
}

#toggle-music-btn.playing::after {
    /* paused state */
    height: 66px;
    left: 0;
    border-style: double;
    border-width: 0 0 0 66px;
}

#kk-btn {
    background: var(--light) url('../img/kk-slider-icon.png') no-repeat center;
    background-size: 70%;
    height: 110px; width: 110px;
}

#volume-btn {
    color: var(--text);
    background-color: var(--light);
    font-size: 40px;
    height: 84px; width: 84px;
}

#date-time,
#weather {
    transform: translateY(-36px);
}

#date-time {
    font-size: .7em;
    display: grid;
    grid-template-rows: 2em;
    grid-template-areas:
        "time am-pm"
        "date-wrapper date-wrapper";
}

#date-time > time,
#am-pm {
    display: flex;
    align-items: flex-end;
}


#date-time > time {
    line-height: 1.39em;
    font-size: 2em;
    padding-right: .2em;
    justify-self: right;
    grid-area: time;
}

#am-pm {
    font-size: 1em;
    grid-area: am-pm;
}

#date-wrapper {
    border-top: 3px solid var(--text);
    grid-area: date-wrapper;
}

#date {
    text-align: right;
}

#weekday {
    color: var(--background);
    background: var(--text);
    border-radius: 20px;
    padding: 2px 10px;
}

#weather {
    font-size: .7em;
    display: grid;
    grid-template-rows: 2em;
    grid-template-areas:
        "temp-c slash temp-f"
        "img weather-desc weather-desc";
}

.temp {
    line-height: 1.39em;
    font-size: 2em;
    display: flex;
    align-items: flex-end;
    padding: 0 .2em;
}

.temp:first-child {
    grid-area: temp-c;
    justify-self: end;
}

.temp:nth-child(2) {
    grid-area: slash;
}

.temp:nth-child(3) {
    grid-area: temp-f;
}

/* This prevents weird &deg; symbol spacing in RodinBokutoh font: */
.temp > span:first-child {
    font-family: sans-serif;
}

.temp > span:nth-child(2) {
    font-size: .5em;
}

#weather > img {
    grid-area: img;
    transform: translateY(-1em);
}

#weather-desc {
    grid-area: weather-desc;
    font-size: 1.2em;
}

#slingshot {
    display: none;
    background: #fcfbe8 url('img/slingshot-icon.png') no-repeat center;
    border-radius: 100%;
    background-size: 85%;
    transition: all .3s;
    cursor: pointer;
}

#slingshot > div {
    display: none;
    width: 25px; height: 25px;
    position: absolute;
    top: 6px; left: 6px;
    background: #fcfbe8 url('img/equipped.png') no-repeat center;
    border-radius: 100%;
    background-size: 90%;
    transition: all .3s;
    border-radius: 100%;
}
  
@keyframes btn-background {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400px 0;
    }
}

@-webkit-keyframes blink {
    20%,
    24%,
    55% {
        border-color: #111;
        color: #111;
        box-shadow: none;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        border-color: var(--neon);
        color: var(--neon);
        box-shadow: var(--neon-glow), var(--neon-glow-inset);
        text-shadow: var(--neon-glow);
    }
}

@keyframes blink {
    20%,
    24%,
    55% {
        border-color: #111;
        color: #111;
        box-shadow: none;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        border-color: var(--neon);
        color: var(--neon);
        box-shadow: var(--neon-glow), var(--neon-glow-inset);
        text-shadow: var(--neon-glow);
    }
}

@media (min-width: 400px) {
    :root {
        --bottom-height: 180px;
    }

    #date-time,
    #weather {
        font-size: 1em;
    }
}

@media (min-width: 800px) {
    :root {
        --bottom-height: 100px;
    }

    body {
        padding-top: 0;
        justify-content: center;
    }

    header > img {
        width: 300px;
    }

    header > h1 {
        font-size: 2.5em;
        padding: 10px;
        border-width: 4px;
    }

    .menu {
        width: 70%;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "detect-btn detect-btn"
            "manual-input launch-btn";
    }

    .menu > button,
    .menu > input {
        font-size: 1.5em;
        height: 70px;
    }

    #detect-btn {
        margin-bottom: 0;
    }

    .music-controls {
        padding: 0 40px;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 136px;
        column-gap: 30px;
        justify-items: start;
    }

    .music-controls .btns {
        grid-column: 1 / 2;
        place-items: end;
    }

    #date-time,
    #weather {
        padding-top: 20px;
        transform: translateY(0);
    }

    #date-time {
        grid-area: 1 / 2 / 2 / 3;
    }

    #weather {
        grid-area: 1 / 3 / 2 / 4;
    }

    #weather img {
        transform: translateY(-.4em);
    }

    #slingshot {
        display: block;
        position: fixed;
        right: 10px; bottom: calc(var(--bottom-height) + 8px);
        width: 80px; height: 80px;
    }

    #slingshot:hover {
        width: 90px; height: 90px;
    }

    #slingshot:hover > div {
        width: 28px; height: 28px;
    }
}

@media (min-width: 1000px) {
    .menu {
        width: 50%;
    }

    .music-controls {
        grid-template-columns: repeat(3, max-content);
        column-gap: 60px;
    }
}